<div class="update-product">
<h1>Update Product</h1>
<p class="message-p">{{productMessage}}</p>
<form #updateProduct="ngForm" class="common-form" (ngSubmit)="UpdateProductMessage(updateProduct.value)">
 <input
        type="text"
        class="form-input"
        placeholder="Name"
        name="name"
        ngModel={{Name}}
      />
 <input
        type="text"
        class="form-input"
        placeholder="Price"
        name="price"
        ngModel={{price}}
      />
 <input
        type="text"
        class="form-input"
        placeholder="colour"
        name="color"
        ngModel={{color}}
      />
 <input
        type="text"
        class="form-input"
        placeholder="catagory"
        name="catagory"
        ngModel={{catagory}}
      />
 <textarea style="height: 50px;"
        type="text"
        class="form-input"
        placeholder="description"
        name="description"
        ngModel="{{description}}"
      ></textarea>
  <input
        type="text"
        class="form-input"
        placeholder="Enter Product Image URL"
        name="image"
        ngModel={{img}}
      />     
  <button class="form-button" >Update</button>
</form>
</div>